<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar cliente</title>
    <link rel="stylesheet" href="{% static "css/cadastrar_cliente.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container" align="center">
    <img src="{% static "images/logo_promitente.png" %}">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>CPF</label>
            <br>
            {{ form.cpf }}
            {{ form.cpf.errors }}
        </div>
        <div class="form-group">
            <label>Nome</label>
            <br>
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>
        <div class="form-group">
            <label>Email</label>
            <br>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label>Telefone</label>
            <br>
            {{ form.telefone }}
            {{ form.telefone.errors }}
        </div>
        <hr class="my-4">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
    <div class="btn-group">
        <button class="btn btn-primary">
            <a style="color: white" href="/home/">Pagina inicial</a>
        </button>
    </div>
</div>
</body>
</html>